<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="cacheEnabled" value="true"/>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <setting name="logImpl" value="LOG4J2"/>
    </settings>
    <!--
    采用mybatis的自动代理设置，将mapper文件和xml文件同名同包下，并在sqlMap.xml（mybatis-config.xml）中配置mapper自动注册扫描包

    -->
    <typeAliases>
        <typeAlias type="com.lpan.demo.domain.User" alias="userModel"></typeAlias>
    </typeAliases>
    <!--<mappers>-->
        <!--<mapper resource="mapper/*.xml"/>-->
    <!--</mappers>-->
    <!--<mappers>-->
    <!--<mapper resource="dao/adminMapper.xml"></mapper>-->
    <!--通过resource方法一次加载一个映射文件 -->
    <!--<mapper resource="sqlmap/UserMapper.xml"/>-->
    <!-- 通过mapper接口加载单个 映射文件
7         遵循一些规范：需要将mapper接口类名和mapper.xml映射文件名称保持一致，且在一个目录 中
8         上边规范的前提是：使用的是mapper代理方法
9          -->
    <!--<mapper class="cn.itcast.mybatis.mapper.UserMapper"/>-->

    <!-- 批量加载mapper
13         指定mapper接口的包名，mybatis自动扫描包下边所有mapper接口进行加载
14         遵循一些规范：需要将mapper接口类名和mapper.xml映射文件名称保持一致，且在一个目录 中
15         上边规范的前提是：使用的是mapper代理方法
16          -->
    <!--<package name="com.Lpan.system.Dao"/>-->
    <!--</mappers>-->
</configuration>